@charset "utf-8";
/* CSS Document */
.xianshi{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border:1px solid rgb(204,204,204);
	border-radius:3px;
	/*height:900px;*/
	
	
	}
.xianshi_main{
	margin-top:-16px;
	background-image:url(../img/9.png);
	height:190px;
	border-bottom:1px solid rgb(204,204,204);
	/*height:auto;*/
	
	}
.xianshi button{
	display:block;
	
	}	
#show_list{
	padding-right:40px;
	
	}		
.single_list{
	overflow:hidden;
	border-bottom:1px solid rgb(204,204,204);
	
	}
	
.xianshi_xia{
	margin-top:350px;
	background-color:#CCC;
	width:auto;
	height:350px;
}
#inputtext{
	width:890px;
	height:200px;
	margin-left:70px;
	font-size:18px;
	font-family:"微软雅黑";
	}	
#button2_2{
	width:100px;
	height:45px;
	margin-top:5px;
	margin-left:930px;
	background-color:#FF6;
	border:none;
	border-radius:10px;
	font-family:"微软雅黑";
	color:#333;
	display:block;
	}
#tobutton{
	width: 100%;
	height: 35px;
	/*padding: 20px 20px 15px 30px;*/

}	
#tobutton button{
	width: 100px;
	height: 30px;
	display: block;
	background-color:#1C86EE;
	color: white;
	border: none;
	font-size: 18px;
	cursor:pointer;
    margin: 0 auto;
    margin-right: 20px;
    border-radius: 3px;
}
#fabuxintie{
	width: 700px;
	height: 580px;
	position: fixed;
	/*display:none;*/
	top:40%;
	left: 50%;
	margin: -225px 0 0 -350px;
	background-color:#CCC;
	z-index: 20;
	visibility: hidden; 
}

#fabuxintie a{
	color: gray;
	display: inline-block;
	margin: 10px 15px 0 535px;
}

#fabuxintie a:hover{
	top:2px;
	left: 1px;
	position: relative;
}

#fabuxintie span{
    color: rgb(111,125,255);
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

#fabuxintie input{
    display: block;
    width: 630px;
    height: 32px;
/*    box-shadow:2px 2px 5px #ccc;*/
    margin: 15px auto;
    /*color: rgb(134,134,134);*/
	
    font-size: 18px;
    font-family: "微软雅黑";
    padding: 0 10px;
}

#fabuxintie textarea{
    display: block;
    margin: 0 auto;
    width: 635px;
    height: 200px;
    font-size: 18px;
    font-family: "微软雅黑";
    padding: 10px;
}

#fabuxintie button{
    width: 120px;
	height: 35px;
	display: block;
	background-color: #1C86EE;
	color: white;
	border: none;
	font-size: 18px;
	cursor:pointer;
    margin: 0 auto;
    margin-top: 20px;
} 
#bg{
	display:none;
	}